!= form_tag('/extreme', method: 'get') do
  %div
    %h3
      Combination options
    .options_for_category
      .horizontal_divider
        .option_wrapper
          != label_tag 'power_base', 'Number of tiles to combine:'
          != select_tag( 'power_base', options_for_select(Array.new(5) { |index| index == 4 ? "free_style" : index + 2 }, extreme_board_power_base) )
  %hr
  %div
    %h3
      Board size and shape
    .options_for_category
      .horizontal_divider
        .option_wrapper
          != label_tag 'height', 'Board height:'
          != select_tag( 'height', options_for_select(Array.new(20) { |index| index + 1 }, extreme_board_height) )
        .option_wrapper
          != label_tag 'length', 'Board length:'
          != select_tag( 'length', options_for_select(Array.new(20) { |index| index + 1 }, extreme_board_length) )
      .horizontal_divider
        .option_wrapper
          %a{ class: "customize_board_holes", href: '#' }
            Customize board
          %input{ class: "custom_holes_input", type: "hidden", name: "custom_holes", value: extreme_board_custom_holes }
        .option_wrapper
          != label_tag 'random_holes', 'Random board eraser:'
          != select_tag( 'random_holes', options_for_select(Array.new(51) { |index| index }, extreme_board_random_holes) )
  %hr
  %div
    %h3
      Random drop options
    .options_for_category
      .horizontal_divider
        .option_wrapper
          != label_tag 'drop_range', 'Random drop range:'
          != select_tag( 'drop_range', options_for_select(Array.new(10) { |index| index + 1 }, extreme_board_drop_range) )
        .option_wrapper
          != label_tag 'higher_drop_likelihood', ('Likelihood of getting<br>higher drops:').html_safe
          != select_tag( 'higher_drop_likelihood', options_for_select([["very often", 2], ["mildly often", 3], ["average", 4], ["mildly rare", 6], ["very rare", 12]], extreme_board_higher_drop_likelihood) )
      .horizontal_divider
        .option_wrapper
          != label_tag 'forced_drops', 'Enable forced drops:'
          != check_box_tag( 'forced_drops', 'enabled', (extreme_board_forced_drops == "enabled" ? true : false) )
        .option_wrapper{ style: 'margin-top: 23px;' }
          != label_tag 'dead_tile_drops', 'Dead tiles will drop:'
          != select_tag( 'dead_tile_drops', options_for_select( ['never', 'very rarely', 'sometimes', 'alarmingly frequently'], extreme_board_dead_tile_drops ) )
  %hr
  %div
    %h3
      Ice and iceless holes
    .options_for_category
      .horizontal_divider
        .option_wrapper
          != label_tag 'random_iceless_holes', 'Random iceless holes:'
          != select_tag( 'random_iceless_holes', options_for_select(Array.new(26) { |index| index }, extreme_board_random_iceless_holes) )
  %hr
  != submit_tag( 'start game' )
  %input{ type: "button", class: "nevermind", value: "Nevermind" }