!!!
%html
  %head
    %title= "EXTREME 6561"
    = stylesheet_link_tag    'extremeStyle'
    = javascript_include_tag 'extremeScript'
    = csrf_meta_tags
  %body
    #borderer
      #main
        %h2
          EXTREME 6561
        #extreme_above_game
          #options
            != form_tag('/extreme', method: 'get') do
              != select_tag( 'height', options_for_select(Array.new(20) { |index| index + 1 }, extreme_board_height) )
              != select_tag( 'length', options_for_select(Array.new(20) { |index| index + 1 }, extreme_board_length) )
              != select_tag( 'holes', options_for_select(Array.new(51) { |index| index }, extreme_board_holes) )
              != select_tag( 'power_base', options_for_select(Array.new(4) { |index| index == 3 ? "free_style" : index + 2 }, extreme_board_power_base) )
              != select_tag( 'drop_range', options_for_select(Array.new(10) { |index| index + 1 }, extreme_board_drop_range) )
              != select_tag( 'higher_drop_likelihood', options_for_select(Array.new(5) { |index| ([0, 1, 2].include? index) ? index + 2 : index * (index - 1) }, extreme_board_higher_drop_likelihood) )
              != submit_tag( 'start game' )
        #extreme_game_container
          #extreme_board{ data: { length: extreme_board_length, height: extreme_board_height, holes:extreme_board_holes, power_base: extreme_board_power_base, drop_range: extreme_board_drop_range, higher_drop_likelihood: extreme_board_higher_drop_likelihood } }
            - build_extreme_game_board
          #extreme_tiles