!!!
%html
  %head
    %title= "EXTREME 6561"
    = stylesheet_link_tag    'extremeStyle'
    = javascript_include_tag 'extremeScript'
    = csrf_meta_tags
  %body
    #borderer
      #main
        %h2
          EXTREME 6561
        #extreme_above_game
          %a#option_opener{ href: '#' }
            Extreme Options
          #options
            != render 'extreme_options'
        #extreme_game_container
          #extreme_board{ data: { length: extreme_board_length, height: extreme_board_height, custom_holes: extreme_board_custom_holes, random_holes: extreme_board_random_holes, power_base: extreme_board_power_base, drop_range: extreme_board_drop_range, higher_drop_likelihood: extreme_board_higher_drop_likelihood, forced_drops: extreme_board_forced_drops, dead_tile_drop_frequency: extreme_board_dead_tile_drops } }
            - build_extreme_game_board
          #extreme_tiles