- @title = 6561

%h2= @title
= link_to "Try the extreme version here!", extreme_path, id: "extreme_link"
#abovegame{ data: { size: board_size } }
  .instructions{ style: "position: absolute; left: 30px;" }
    %a{ href: "#" }
      How to play.
  .button_wrap
    %input{type: "button", value: "new game", class: "restarter"}
    .board_size
      != select_tag('board_size_select', board_size_options)
  .score_wrap
    .highscore#personal_highscore
      .whose_score
        %p#yours.slider
          - if current_user == nil
            Anonymous
          - else
            = current_user.name
        %p#all_users
          - top_user = User.find_by_id(Score.where(board_size: board_size).order("score DESC").first.user_id)
          = top_user ? top_user.name : "Anonymous"
      Highscore
      .highscore_value
        - if current_user == nil
          != Score.top_score(board_size, nil)
        - else
          != Score.top_score(board_size, current_user.id)
    #score
      Score
      .score_value
        0
  = link_to "Check highscores", scores_path(board_size: params[:board_size]), id: "highscore_link"

#game_container{ class: "size_#{board_size}" }
  #board{ data: {size: board_size} }
    - build_game_board
  #tiles