- @title = "6561 - Highscores"

%h2
	Highscores
%h3
	All Highscores
#highscores_table
	= select_tag('board_size_select', board_size_options)
	= link_to "Back to game", root_path, {style: "position: absolute; right: 5px; top: -15px;"}
	= link_to "View your highscores", scores_path( board_size: params[:board_size] ), {style: "position: absolute; right: 5px; top: 25px;" }
	%table
		%tr
			%th User
			%th Board Size
			%th Score
		- @scores.each do |score|
			%tr
				%td= score.user_id == nil ? "Anonymous" : User.find(score.user_id).name
				%td= score.board_size
				%td= score.score
		- z = Array.new(25 - @scores.length)
		- z.each do |x|
			%tr
				%td -
				%td= board_size
				%td -