!= form_for :user, html: {id: 'signup_form'}, url: users_path do |f|
  - if @user
    .errors
      - @user.errors.full_messages.each do |e|
        .error
          != e
  != f.label :name
  != f.text_field :name
  != f.label :email
  != f.text_field :email
  != f.label :password
  != f.password_field :password
  != f.label :confirm_password
  != f.password_field :password_confirmation
  != f.submit "Create User", style: "margin-top: 16px;"
