- @title = "6561 - Profile Page"

%h3
	- if current_user.name.downcase.end_with? "s"
		= "#{current_user.name}' Profile"
	- else
		= "#{current_user.name}'s Profile"
.profile_box
	%p
		= notice
	.ranker
		%p
			%b Your rankings:
		- Score.get_rankings(current_user.id).each do |r|
			%p
				= r
	%div
		%p.left
			= link_to "Back to the game", root_path
		%p.right
			= link_to "Your highscores", scores_path
	%div{ style: "border-bottom: 0;" }
		%p.left
			= link_to "Terminate account", "#", class: "destroy_user"
		%p.right
			= link_to "Clear all highscores", "#", class: "destroy_scores"