- @title = 6561

%h2= @title
#abovegame{ data: { size: board_size } }
  .instructions{ style: "position: absolute; left: 30px;" }
    %a{ href: "#" }
      How to play.
  .button_wrap
    %input{type: "button", value: "new game", class: "restarter"}
    .board_size
      != select_tag('board_size_select', board_size_options)
  .score_wrap
    .highscore#personal_highscore
      .whose_score
        - if current_user == nil
          %p#yours.slider
            Anonymous
        - else
          %p#yours.slider
            = current_user.name
        %p#all_users
          All users
      Highscore
      .highscore_value
        - if current_user == nil
          != Score.top_score(board_size, nil)
        - else
          != Score.top_score(board_size, current_user.id)
    #score
      Score
      .score_value
        0
  = link_to "Check highscores", scores_path(board_size: params[:board_size]), id: "highscore_link"

#game_container{ class: "size_#{board_size}" }
  #board{ data: {size: board_size} }
    - build_game_board
  #tiles