- @title = 6561

%h2= @title
#abovegame{ data: { size: board_size } }
  .instructions{ style: "position: absolute; left: 30px;" }
    %a{ href: "#" }
      How to play.
  .button_wrap
    %input{type: "button", value: "new game", class: "restarter"}
    .board_size
      != select_tag('board_size_select', board_size_options)
  .score_wrap
    #highscore
      Highscore
      .highscore_value
        != Score.top_score(board_size)
    #score
      Score
      .score_value
        0
  = link_to "Check highscores", "/scores?board_size=#{params[:board_size]}", :id => "highscore_link"

#game_container{ class: "size_#{board_size}" }
  #board{ data: {size: board_size} }
    - build_game_board
  #tiles

#how_to_play{ style: "display: none; height: 100%; width: 100%;" }
  != render partial: 'instructions'